{% load i18n %}

<h5>{% translate "Search" %}</h5>
<form class="form-inline">
  <div class="from-floating mb-4">
    <input
      type="search"
      id="search"
      class="form-control"
      name="{{ param }}"
      value="{{ term }}"
      placeholder="{% translate 'Type here to search...' %}"
    />
    <label for="search" class="form-label">
      {% translate 'Search' %}
    </label>
  </div>
  <button class="btn btn-lg btn-primary w-100" type="submit">
    <strong class="d-flex align-items-center gap-3">
      <i class="bi bi-search"></i>
      {% translate "Search" %}
    </strong>
  </button>
</form>
